doctype html
html
    head
        link(
            href="/css/stylsheet.css"
            rel="stylesheet" 
            )  
        link(
            href="/css/reset.css"
            rel="stylesheet" 
            )  
        link(
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet" 
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
            crossorigin="anonymous"
            )  
        title=Super

        body
            header(class=" p-3")
                div(class='position-relative')    
                    a(href='/accueilClient'
                    class="position-absolute top-0 start-0 link-underline-light"
                    )
                        img(src="/image/pizza.svg" class="logo")
                        
                        
                    nav(class="position-absolute top-0 start-50 translate-middle-x") 
                        ul(class="d-flex flex-row gap-3")  
                            li
                                a(
                                href=""
                                class="link-underline-light link-body-emphasis"
                                ) Menus 
                            li 
                                a(
                                href=""
                                class="link-underline-light link-body-emphasis"
                                ) Entrées
                            li 
                                a(
                                href="/accueilClient/Pizzas"
                                class="link-underline-light link-warning"
                                ) Pizzas
                            li 
                                a(
                                href=""
                                class="link-underline-light link-body-emphasis"
                                ) Desserts
                            li 
                                a(
                                href=""
                                class="link-underline-light link-body-emphasis"
                                ) Boissons 
                                                
                    div(class="position-absolute top-0 end-0")
                        if utilConnected
                            a(href='/accueilClient/deconnection'
                            class='text-decoration-none link-warning me-2'
                            ) Deconnection 
                            a(href=''
                            class='text-decoration-none link-body-emphasis'
                            id="total"
                            ) Panier #{counts ? counts : '0'}     
                            p Bonjour #{utilConnected.prenom_utilisateur}
                        else 
                            a(href='/accueilClient/MonCompte'
                            class='text-decoration-none link-warning me-2'
                            ) Mon compte
                            a(href=''
                            id="total"
                            class='text-decoration-none link-body-emphasis'
                            ) Panier #{counts ? counts : '0'}                           
                                
                                
                       
        

            main(class="position-absolute top-50 start-50 translate-middle ")

            h2(class=" p-5 text-center") Pizzas
                    div(class="d-flex flex-row mt-5 gap-5 justify-content-around")
                        
                            each pizza in pizzas
                                form(method="post" action=`/accueilClient/pizzas/`) 
                                    h5 #{pizza.libelle_pizza}
                                    p(class="p-categorie") #{pizza.categorie_pizza}
                                    
                                    img(src="/image/pizza.svg" 
                                    class="pizzachoix" 
                                    ) 
                                
                                    p(class="p-ingredient") igrdt : #{pizza.ingredient_pizza}
                                    p(class="p-prix") #{pizza.prix_pizza} €
                                    p(class=" d-none p-id") #{pizza.id_pizza} 
                                    p(class="p-count idcount" id="idcount") #{count ? count : '0'} pizz
                                    div(class="d-flex flex-column")
                                
                                        
                                            input(
                                            type='hidden' 
                                            name='id_pizza' 
                                            value=`${pizza.id_pizza}` 
                                            )
                                            button(
                                            class="btn btn-success m-2 btnAjout" 
                                            type="button"
                                            name='btnAjout'
                                            ) Ajouter
                                        
                                            button(
                                            class="btn btn-success m-2 btnRetirer"
                                            type="button"
                                            name='btnRetirer'
                                            ) Retirer    

                    button(
                    class="btn btn-warning m-5 btnValidePizza"
                    type="button"
                    name='btnValidePizza'
                    ) Envoyer au panier

                   

                                            
                    
        script(src="/socket.io/socket.io.js")
        script(src="/client.js")


    